:root{
    --yellowMain:#e5af00;
    --yellowMainDark:#ba9800;
    --yellowMainLight:#ffdd57;
    --yellowishBright:#C0BA67;
    --yellowishGray:#969369;
    --yellowishGrayMDarker:#33321E;
    --grayM:#6B6A5D;
    --fullWhite:#FFF;
    --ninetyWhite:#E6E6E6;
    --fullBlack:#000;
    --grayMDarker:#414031;
    --DpurpleMain:#353040;
    --DblueMain:#303540;
}

.flex-row{display: flex; flex-direction: row;}
.align-itens-center{align-items: center;}

.m-1{margin: 1em;}
.box-sizing-border-box{box-sizing: border-box;}
.hr-8{width: 80%; margin: 0px auto; height: 1px; background: var(--ninetyWhite);}


/* page */
body{
    background: var(--ninetyWhite);
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
}

/*header area*/
header{
    background: var(--yellowMain);
    width: 100%;
    box-sizing: border-box;
    padding: 0.3em 1em;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

#name svg{ aspect-ratio: 1/1; width: 30px;}

.menu-header{
    background: var(--yellowMainLight);
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0em 1em;
}

.menu-header a{
    color: #414031;
    text-decoration: none;
    font-weight: bold;
    transition: 300ms;
}

.menu-header a:hover{
    transform: scale(1.05);
}

.menu-icon{
    cursor: pointer;
    display: none;
}

.menu-header svg{
    aspect-ratio: 1/1;
    width: 2em;
    color: #414031;
}

/*main area*/
#principal{
    /* background-image:  linear-gradient(180deg, var(--yellowMain), var(--yellowMain), var(--yellowishGrayMDarker)); */
    background-image: url("/Medipiji/assets/yellowBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    display: grid;
    justify-content: center;
    padding: 3vh;
    grid-template-columns: 65vw;
    grid-template-rows: 25vh 25vh 25vh;
    box-sizing: border-box;

}
#principal div:nth-child(1) > div > img{ 
    width: 20vh; 
    border-radius: 1em; 
    /* box-shadow: 0px 5px 3px 2px rgba(0,0,0,0.3); */
    border: 1px solid var(--yellowMainLight);
    /* position: absolute; */
    /* transform: translate(-25vw, 0vh); */
    aspect-ratio: 1/1;
    ;
}

#principal > div:nth-child(1){
    background-color: var(--fullWhite); 
    border-radius: 20px 20px 0px 0px; 
    padding: 1em; 
    box-shadow: 0px 5px 3px 2px rgba(0,0,0,0.3);
    font-size: 1.3vw; 
    display: flex;
    gap: 1em;
    justify-content: space-between;
    box-sizing: border-box;
}

#principal > div:nth-child(1) > div {
    box-shadow: none;
    background-color: var(--yellowMain);
    border-radius: 0.5em;
    padding: 0.1em 0.5em;
    box-sizing: border-box;
    height: 22vh;
    min-height: fit-content;
    color: var(--grayMDarker);
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1em;
    text-align: center;
}

#principal > div:nth-child(1) > div > h1 {
    border-bottom: 20px solid var(--yellowMainLight);
}

#principal > div:nth-child(1) > div > p {
    background-color: var(--yellowMainLight);
    padding: 0.5em 0em;
    border-radius: 5px;
}

#principal > div:nth-child(1) > div  svg {
    aspect-ratio: 1/1;
    width: 1.2vw;
}

.lightStick{
    width: 2vw;
    padding: 0px !important;
    background: var(--yellowMainLight) !important;
    box-shadow: none !important;
    height: 90%;
    border-radius: 5px;
}

#principal div:nth-child(2), #principal div:nth-child(3){
    background-color: var(--fullWhite); 
    box-shadow: 0px 5px 3px 2px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    padding: 1em;
}
#principal div:nth-child(2) > h3, #principal div:nth-child(3) > h3{
    background: var(--yellowMain);
    /* width: fit-content; */
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

#principal div:nth-child(3){
    border-radius: 0px 0px 20px 20px;
    display: flex;
}
#principal div:nth-child(3) > ul{
    display: flex;
    flex-direction: column;
    
    gap: 0.5em;

}

/* responsive area*/
@media only screen and (max-width:600px) {
    header{
        flex-direction: row-reverse !important;
    }
    .menu-header > .SunMoon{
        display: none;
    }
    .menu-header > a, header > #name {
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .mobile-menu{
        position: fixed;
        top: 0px;
        left: 100vw;
        width: 100vw;
        height: 100vh;
        background-color: var(--yellowMain);
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 300ms;
    }
    .showMenu{left:0vw;}
    .mobile-menu a{
        color: var(--fullBlack);
        text-decoration: none;
    }   
    .menu-icon a{
        width: 90%;
        text-align: center;
        font-weight: bolder;
        font-size: 2em;
        border-bottom: 0.3em solid var(--yellowMainDark);
    }
    .menu-icon:first-child{
        border-bottom:none;
        display: flex;
        gap:2em;
    }
    .menu-icon:first-child>span>svg{
        width: 4em;
        aspect-ratio: 1/1;
    }
}